/* All common css  start*/
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "DM Sans", sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
h1, h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
    line-height: 0.8;
}
.continer{
    width: 1320px;
    margin: 0 auto;
}

/* All common css  end*/

 /* Header Part Start */
 
 #headerpart{
 
    padding: 20px 0;
 }
 .hederflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .logo img{
    width: 100px;
 } 
 .menu ul{
    display: flex;
 }
 .menu ul li a{
    color: #181818;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 500;
 }

 .btn a{
    font-size: 18px;
    font-weight: 500;
    color:#FFFFFF ;
    padding: 15px 20px;
   
    background:#5956E8;
    border-radius: 10px;
 }

 /* Header Part End  */

  /* Benner Part Start */
  #bennerpart{
    background: #5956E8;
    padding: 170px 0;
  }
  .bannerflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .textcontent{
    width: 531px;
  }
  .textcontent h1{
    color: #FFFFFF;
    font-size: 65px;
    font-weight: 700;
    line-height: 80px;
  }
  .textcontent p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    padding: 35px 0;
  }
  .textcontent a{
    font-size: 18px;
    font-weight: 500;
    color: #5956E8;
    padding: 15px 20px;
    background:#FFFFFF;
    border-radius: 10px;
  }
 /* Benner Part End  */

  /* services Part Start */
  #servicespart{
   padding: 100px 0;
  }
  .servicestext{
text-align: center;

  }
  .servicestext h3{
   font-size: 40px;
   font-weight: 700;
  }
.servicestext p{
     font-size: 16px;
   font-weight: 500;
   color: rgba(24, 24, 24, 0.7);
   padding: 0 397px;
   line-height: 27px;
   margin: 35px 0;
}
.servicesoneflex{
  display: flex;
  justify-content: space-between;
}
.servicesitem{
  padding: 60px 45px;
  border: 1px solid  rgba(24, 24, 24, 0.2);
  border-radius: 10px;
  transition: .4s;
}
.servicesitem:hover{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.servicescontante{
  width: 254px;
  height: 158px;

}
.servicescontante h3{
  font-size: 25px;
  font-weight: 700;
  padding: 30px 0;
  
}
.servicescontante p{
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  width: 274px;
  height: 108px;
}
#servicesbelowpart{
  padding: 30px 0;
}
 .servicesicon{
    transition: .4s;
}
.servicesicon:hover svg{
  fill: #5956E8;
 
}
.servicesicon:hover svg path{
  fill: #FFFFFF;
}

 /* services Part End  */

  /* portfolio Part Start */
 .portfolioflex{
  display: flex;
  justify-content: space-between;
 }
 
 .portfolioiteam{
  width: 270px;
  padding: 20px 0;
  
  
 }
 .portfolioimg img{
  width: 100%;
 }
 .portfolioimg{
  position: relative;
  
 }
.portfoliotext{
  width: 230px;
  padding: 30px 35px;
  background: #5956E8;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: .4s;
  
}
.portfolioiteam :hover .portfoliotext{
  opacity: 1;
  visibility: visible;
}
.portfoliotext h3{
  font-size: 20px;
  font-weight: 800;
  line-height: 27px;
  color: #FFFFFF;
}
.portfoliotext h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}
.portfoliotext h4 i{
  padding-top: 7px;
  padding-left: 5px;
  color: #FFFFFF;
}

 /* portfolio Part End  */

  /* Header Part Start */
 /* Header Part End  */